{% extends 'base.html' %}

{% block title %}
    Сброс пароля - заслать email
{% endblock %}

{% block content %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h5>
            Вам отправлено письмо с инструкциями по восстановлению пароля на почту, которую вы указали при регистрации.
            Скоро будет.
        </h5>
        <br>
        <h6 style="width: 60%; margin: 0 auto">
            Если письмо не пришло, проверьте правильно ли вы указали адрес электронной почты, и проверьте папку со спамом.
<!--            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check-->
<!--            your spam folder.-->
        </h6>
    </div>
    <div class="text-center">
        <a href="{% url 'index' %}">На главную</a>
    </div>
{% endblock %}
