{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Сброс пароля: Продолжение.
{% endblock %}

{% block content %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1>Форма сброса пароля</h1>
        <h6 style="width: 60%; margin: 0 auto">
            Введите новый пароль чтобы мы вам поверили.
        </h6>
    </div>
    <br/>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-outline-success mt-3" type="submit" value="Сохранить пароль"/>
    </form>
{% endblock %}
