{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1>Сброс пароля завершен</h1>
        <h6 style="width: 60%; margin: 0 auto">
<!--            Your Password has been set. You may go ahead and login-->
            Ваш пароль сброшен. Можете спать спокойно или залогиниться
        </h6>
    </div>
    <br/>
    <div class="text-center">
        <a href="{% url 'accounts:login' %}">Войти на сайт</a>
    </div>
{% endblock %}
